<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' />

	{{!-- <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet"> --}}

	{{> base/font}}


	<script inline src='head.js'></script>

	{{> base/analytics }}

</head>

<body>

	<main id='content'>
		{{> base/header }}
		{{#each doc.section }}
		<section id='{{id}}'>

			{{#ifEquals id 'intro' }}
			<h1>{{{title}}}</h1>
			{{/ifEquals }}

			{{#ifEquals chart 'svg' }}
			<figure>
				<svg>
					<g class='g-axis'></g>
					<g class='g-vis'></g>
				</svg>
			</figure>
			{{/ifEquals }}


			{{#ifEquals chart 'video' }}
			<figure>

			</figure>
			<div id='flipbook-report' class='flipbook' data-src='assets/videos/l2m' data-frames='159' data-rate='29.97'></div>
			{{/ifEquals }}

			<p>{{{text}}}</p>
			<cite>{{{narration}}}</cite>
		</section>
		{{/each}}

		<div id='stickers'>
			<img id='lebron' src='assets/images/lebron.png'>
			<img id='lance' src='assets/images/lance.png'>
		</div>
	</main>

	<script src='{{basepath}}assets/scripts/d3.v5.9.1.min.js'></script>
	<script src='main.js?version={{timestamp}}' async></script>
</body>

</html>